body {
  font-family: cursive;
  /* background-color: antiquewhite; */
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: cursive;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #e1e5e9;
  /* padding: .35em; */
  border-radius: 3px;
}

table thead tr:first-child {
  border: 1px solid slategrey;
}

table th,
table td {
  padding: 0.9em;
  text-align: center;
  color: slategray;
  font-size: 14px;
  font-family: cursive;
}

table td:nth-child(4) {
  font-size: 15px;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bolder;
  background: slategrey;
  font-family: cursive;
  color: #fff;
}

.cursive {
  font-family: cursive;
}

table tbody tr td .btn-invoice {
  background: slategrey;
  color: #fff;
  font-size: 15px;
  height: 40px;
  padding: 10px 20px;
  font-weight: bolder;
  border: 0;
  font-family: cursive;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    padding: 0;
  }

  table tr {
    border-bottom: 3px solid #e1e5e9;
    display: block;
    margin-bottom: 0.625em;
  }

  table th,
  table td {
    padding: 0.625em;
    font-weight: bolder;
  }

  table td {
    border-bottom: 1px solid #e1e5e9;
    display: block;
    font-size: 0.8em;
    text-align: right;
    color: slategray;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bolder;
    text-transform: uppercase;
    color: #656971;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:nth-child(4) {
    font-size: 0.8em;
  }
}

.flex {
  display: flex;
}

.adding p {
  color: slategrey;
  font-size: 15px;
}

.headline {
  text-align: left;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  /* width: 50%; */
  /* margin-left: 63px; */
  padding: 30px;
}

.headSecton {
  background-color: darkslategray;
  color: white;
}

.addSection {
  background-color: slategray;
  height: 80px;
  margin-bottom: 50px;
  display: flex;
  width: 100%;
}

.taxiRank {
  text-align: left;
  margin-right: 540px;
  margin-left: 60px;
  font-weight: bolder;
  font-family: cursive;
  color: white;
}

.totalIn p {
  text-align: right;
  /* margin-left: 600px; */
  font-weight: bolder;
  font-family: cursive;
  color: white;
}

.plus {
  padding: 3px;
  border-radius: 1px;
  padding: 10px 10px;
  height: 40px;
  margin: 10px;
  margin-top: 10px;
  font-size: large;
  font-weight: bolder;
  font-family: cursive;
}

.pin p {
  font-weight: bolder;
  color: white;
}

.count {
  font-size: 15px;
  color: darkslategrey;
}

.taxi {
  background-color: white;
  padding: 20px;
  text-align: center;
  font-family: cursive;
  font-size: small;
  font-weight: bolder;
  border-radius: 5px;
  margin: 10px;
  color: #656971;
  border: 0;
  width: 150px;
}

.route {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-family: cursive;
  font-size: small;
  font-weight: bolder;
  border-radius: 5px;
  margin: 10px;
  margin-left: 50px;
  color: slategray;
  border: 0;
}

.adding {
  margin-left: 633px;
}

.tableSection {
  /* margin-top: 250px; */
}

.footerSection {
  background-color: #656971;
  height: 100px;
  margin-top: -15px;
}

.pink {
  padding: 15px;
  border: 1px solid white;
  color: #656971;
  font-weight: bolder;
  font-family: cursive;
}

.inputSections {
  background-color: #656971;
  height: 230px;
  margin-top: -50px;
  /* padding-top: 20px; */
}

.inputSections p {
  /* padding-top: 10px; */
  font-size: 15px;
  color: white;

  font-weight: bolder;
  margin-left: 50px;
}


.available p{
  font-size: 15px;
  font-weight: bolder;
  font-family: cursive;
}

.available button {
  /* padding: 10px 10px; */
  border-radius: 1px;
  height: 40px;
  margin: 10px;
  margin-top: 10px;
  /* font-size: 20px; */
  text-align: center;
  font-weight: bolder;
  font-family: cursive;
}